<form [formGroup]="studentForm" (submit)="onSubmit(studentForm.value)">
    <div *ngFor="let control of controls" class="form-floating mb-3">
        <input
            type="text"
            formControlName={{control}}
            class="form-control" id={{control}}
            placeholder={{getLabel(control)}}
            [ngClass]="{'is-invalid': studentForm.controls[control].invalid}"
            required
        />
        <label for={{control}} class="form-label">{{getLabel(control)}}</label>
    </div>
    <button type="submit" [disabled]="!studentForm.valid" value="Submit" class="btn btn-primary btn-lg">
        Submit
    </button>
</form>