<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <ngb-toast *ngIf="toaster" header={{toastHeader}} (hidden)="toaster=false"
        class="text-light"
        [ngClass]="{
            'bg-success': !toastError,
            'bg-danger' : toastError
        }"
    >
        {{toastMessage}}
    </ngb-toast>
</div>

<h2>
    Student Registration
</h2>

<form [formGroup]="studentForm" (submit)="onSubmit(studentForm.value)">
    <div *ngFor="let control of controls" class="form-floating mb-3">
        <input
            type="text"
            formControlName={{control}}
            class="form-control" id={{control}}
            placeholder={{getLabel(control)}}
            [ngClass]="{
                'is-invalid': studentForm.controls[control].invalid
            }"
            required
        />
        <label for={{control}} class="form-label">{{getLabel(control)}}</label>
    </div>
    <div *ngIf="!studentForm.valid" class="validity-text mb-3">
        Please enter valid details!
    </div>
    <button type="submit" [disabled]="!studentForm.valid || submitting" value="Submit" class="btn btn-primary btn-lg">
        <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Submit
    </button>
</form>